.left,
.right {
    width: 49.2%;
    /* The width is 49.2%, by default */
    display: inline-block;
    border: 2px groove black;
    margin: 5px;
}

@media screen and (max-width: 1300px) {

    .left,
    .right {
        width: 49%;
        /* The width is 49%, when the viewport is 1000px or smaller */
    }
}

@media screen and (max-width: 1000px) {

    .left,
    .right {
        width: 48.7%;
        /* The width is 48.7%, when the viewport is 1000px or smaller */
    }
}

@media screen and (max-width: 800px) {

    .left,
    .right {
        width: 98%;
        /* The width is 98%, when the viewport is 800px or smaller */
    }
}